@model IEnumerable<AssignmentFIT5032.Models.Booking>

@{
    ViewBag.Title = "Booking List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="js/addons/rating.js"></script>
<h2>Booking List</h2>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CheckInDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOutDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsMealRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RATING)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room.RoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contents)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckInDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOutDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsMealRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RATING)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.RoomName)
                    </td>
                    @if (item.Contents == null)
                    {
                        <td>
                            @Html.Raw("No Comments Added")
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.Raw(item.Contents)
                        </td>
                    }
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    
                    @if (!item.IsRatingGiven.Value)
                    {
                        @Html.ActionLink("Give Rating", "GiveRating", new { id = item.Id })

                    }
                </td>
                </tr>
            }
        </tbody>

    </table>
}

@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />