@model AssignmentFIT5032.Models.BulkEmailViewModel
@{
    ViewBag.Title = "Send_BulkEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap2.css" />
<h2>Send_BulkEmail</h2>

@using (Html.BeginForm("Send_BulkEmail", "Hotels", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.ToEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" id="messageTo" name="ToEmail" />
            @Html.ValidationMessageFor(model => model.ToEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", id = "messageSubject" } })
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Contents, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control", id = "messageBody" } })
            @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AttachedFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="attachment" name="AttachedFile" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>
    @ViewBag.Message
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            var emails = "";
            $("#messageTo").val("");
            $("#messageSubject").val("");
            $("#messageBody").val("");
            var val = '@(ViewBag.Result)';
            if (val === 'success') {
                $('#myModal').modal('toggle');
            } else {
            }
            var $select = $('#messageTo').selectize({
                delimiter: ',',
                persist: false,
                create: function (input) {
                    return {
                        value: input,
                        text: input
                    }
                }
            });
            console.log($select);
            var selectize = $select[0].selectize;
            selectize.on('change', function () {
                var test = selectize.getValue();
                $("#messageTo").val(test);
            });
        })
    </script>
}

